<dt><%= post.title %></dt>
<dd><%= Faker::Address.country %></dd>

<% comment do %>
<li><%= post.title %></li>
<% end %>

<% comment do %>
<div style="height: 100px"><%= post.title %></div>
<% end %>

<% comment do %>
<tr style="height: 100px">
  <td><%= post.title %></td>
</tr>
<% end %>