<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: 'delete' %> <%= current_user.email %>
<% else %>
  <%= link_to "Login", new_user_session_path %> or <%= link_to "Register", new_user_registration_path %>
<% end %>

<br><br>

<button data-reflex="click->Example#test">Test</button>

<% if @stimulus_reflex %>
  <h1>Success! Random: <%= (rand * 100).to_i %></h1>
<% end %>