<!DOCTYPE html>
<html>
  <head>
    <title>Harness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script src="https://kit.fontawesome.com/293f8b86ea.js" crossorigin="anonymous"></script>
  </head>

  <body data-unlock-audio>
    <%= yield %>
  </body>
</html>
